@model AppAbout
@inject UnitOfWork _UnitOfWork
@inject CommonLocalizationService CommonLocalizer
@inject EntityLocalizationService EntityLocalizer
@{
    ViewData["Title"] = $"{CommonLocalizer.Get("CreateOrEdit")} {EntityLocalizer.Get("AppAbout")}";
}

@section Styles{
    @{await Html.RenderPartialAsync("PartialView/_FormStylesPartial");}
}
<div class="row">
    <div class="col-lg-12">
        <form asp-action="CreateOrEdit" class="form-horizontal" enctype="multipart/form-data">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </header>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                   
                    <div class="form-group row">
                        <label asp-for="Phone" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Phone" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <label asp-for="WhatsApp" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="WhatsApp" class="form-control">
                            <span asp-validation-for="WhatsApp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FacebookUrl" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="FacebookUrl" class="form-control">
                            <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                        </div>
                        <label asp-for="InstagramUrl" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="InstagramUrl" class="form-control">
                            <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="WebsiteUrl" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="WebsiteUrl" class="form-control">
                            <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                        </div>
                        <label asp-for="Email" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                   
                    <div class="form-group row">
                        <label asp-for="AndroidMinVersion" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="AndroidMinVersion" class="form-control" >
                            <span asp-validation-for="AndroidMinVersion" class="text-danger"></span>
                        </div>
                        <label asp-for="IOSMinVersion" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="IOSMinVersion" class="form-control" >
                            <span asp-validation-for="IOSMinVersion" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="AndriodDown" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="AndriodDown" class="form-control" >
                            <span asp-validation-for="AndriodDown" class="text-danger"></span>
                        </div>
                        <label asp-for="IOSDown" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <input asp-for="IOSDown" class="form-control" >
                            <span asp-validation-for="IOSDown" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="DownMessage" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <textarea rows="5" asp-for="DownMessage" class="form-control" ></textarea>
                            <span asp-validation-for="DownMessage" class="text-danger"></span>
                        </div>

                        <label asp-for="Description" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-4">
                            <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                
                </div>

                <footer class="card-footer text-left">
                    <button class="btn btn-primary"> @CommonLocalizer.Get("Submit") </button>
                    <button type="reset" class="btn btn-default"> @CommonLocalizer.Get("Reset") </button>
                    <a  asp-action="Details" asp-controller="AppAbout"  class="btn btn-success"> @CommonLocalizer.Get("Back") </a>

                </footer>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}

}